p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #434b53;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.56);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
    min-height: 854px;
    background-color: #fff;
    padding: 76px 67px 76px 50px;
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: none;
  background-color: #434b53;
  color: #fff;
}

.modal-title {
  font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #000;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 19px;
}

.modal-title::before {
  content: "";
  display: block;
    width: 143px;
    height: 2px;
    background-color: #d8d8d8;
}

.modal-subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: #022c40;
    margin-bottom: 31px;
}

.modal-span {
  color: #000;
}

.modal-text {
  font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #022c40;
    margin-bottom: 23px;
}

.modal-form {

}

.modal-label {
  display: block;

  margin-bottom: 24px;
}


.modal-input {
  border: 1px solid #cacaca;
    border-radius: 5px;
  width: 100%;
  height: 60px;
  background-color: transparent;
  padding-left: 21px;
  outline: transparent;
}

.modal-input::placeholder {
  font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #000;
}

.modal-input:focus {
  border-color: #275f7a;
}


.modal-textarea {
  width: 100%;
  height: 149px;
  border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 22px;
    resize: none;
    outline: transparent;
}

.modal-textarea::placeholder {
  font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #000;
}

.modal-textarea:focus {
  border-color: #275f7a;
}

.modal-btn {
  min-width: 181px;
    height: 48px;
    font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.03em;
      text-align: center;
      color: #fff;
      background: #022c40;
      border-radius: 5px;
}

.modal-label-text {
  margin-bottom: 33px;
}